.custom-bg-header{
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.padding-0{
    padding: 0;
}

.footer{
    color: #212121;
}

a{
    color: #05a464;
}

.clock-placing {
    position: absolute;
    top: 80%;
    left: 6%;
    opacity: 0.8;
    background: #12a86b;
    color: #fff;
    padding: 0.25rem .5rem 0.3rem .5rem;
    border-radius: 1rem;
}

.fade-p5{
    opacity: 0.4;
}